<launch>
    <include file="$(find jackal_gazebo)/launch/jackal_world.launch">
        <arg name="config" value="front_laser"/>
    </include>

    <!-- Publish static transform from base_footprint to base_link -->
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.098 0 0 0  /base_footprint /base_link  100"/>
</launch>
